/* CSS Document */
.img-thumbnail{
    height: 200px;	
}

.imgmyphoto{
    height: 200px;	
}

 .imgwrap{
     display: table-cell;
     vertical-align: middle;
	 text-align: center;
 }

.cspan{
	 display:inline-block;
	 width:100px;
}

