body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.5;
      color: #818181;

      background-image: white;
      position: relative;
      z-index: -5;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #EB5757;
      font-weight: 400;
      margin-bottom: 30px;
  }


.main-color-space{
  background: white;
}

mark{
  margin-right: 5px;
  background-color: #FF8984;
}
mark.user-mark{

  color: white;
  cursor: pointer;
}
.user-tag{
  position: absolute;
  bottom: 0;
  right: 0;

}
.best-before span{
  color: red;
}

.list-group-item{
  margin-bottom: 10px;
}

.media-body{
  position: relative;
}

.container-picture{
  float: left;
  width: 240px;
}

.container-picture .profile-picture{
  height: 200px;
  width: 200px;
  margin: 20px;
  background: url('../images/generic-user-profile.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.container-user-info .name{
  color: #EB5757;
  font-weight: bold;
}

@media (max-width: 768px){
  #mapResult{
    width: 100%!important;
    z-index: 0!important;
  }
}

#cbutton{
  background: #EB5757;
  color: white;
  margin-left: 20px;
}
